## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="body">
        <!--Body content-->
        <h2>${title}</h2>
        <ul class="unstyled">
        % for text, link in items:
            <li><a href="${link}">${text}</a>
        % endfor
        </ul>
	<hr>
        <!--End of body content-->
</%block>
