## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="post_helper" file="post_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    Error 404: ${messages("Page not found")}
</%block>
