## -*- coding: utf-8 -*-
<%inherit file="index.tmpl"/>
<%namespace name="archive_nav" file="archive_navigation_helper.tmpl" import="*"/>
<%namespace name="feeds_translations" file="feeds_translations_helper.tmpl" import="*"/>

<%block name="extra_head">
    ${parent.extra_head()}
    ${feeds_translations.head(archive_name)}
</%block>

<%block name="content_header">
    ${archive_nav.archive_navigation()}
    ${parent.content_header()}
</%block>
