## -*- coding: utf-8 -*-
<%inherit file="list_post.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    %if len(translations) > 1 and generate_rss:
        %for language in sorted(translations):
            <link rel="alternate" type="application/rss+xml" title="RSS for ${kind} ${author|h} (${language})" href="${_link(kind + "_rss", author, language)}">
        %endfor
    %elif generate_rss:
        <link rel="alternate" type="application/rss+xml" title="RSS for ${kind} ${author|h}" href="${_link(kind + "_rss", author)}">
    %endif
</%block>


<%block name="content">
<article class="authorpage">
    <header>
        <h1>${title|h}</h1>
        %if description:
        <p>${description}</p>
        %endif
        <div class="metadata">
            %if len(translations) > 1 and generate_rss:
                %for language in sorted(translations):
                <p class="feedlink">
                    <a href="${_link(kind + "_rss", author, language)}" hreflang="${language}" type="application/rss+xml">${messages('RSS feed', language)} (${language})</a>&nbsp;
                </p>
                %endfor
            %elif generate_rss:
                <p class="feedlink"><a href="${_link(kind + "_rss", author)}" type="application/rss+xml">${messages('RSS feed')}</a></p>
            %endif
        </div>
    </header>
    %if posts:
    <ul class="postlist">
    % for post in posts:
        <li><time class="listdate" datetime="${post.formatted_date('webiso')}" title="${post.formatted_date(date_format)|h}">${post.formatted_date(date_format)|h}</time> <a href="${post.permalink()}" class="listtitle">${post.title()|h}</a></li>
    % endfor
    </ul>
    %endif
</article>
</%block>
