## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
<%namespace name="header" file="base_header.tmpl" import="*"/>
<%namespace name="footer" file="base_footer.tmpl" import="*"/>
<%namespace name="annotations" file="annotation_helper.tmpl"/>
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">${messages("Skip to main content")}</a>
    <div id="container">
         ${header.html_header()}
         <main id="content">
            <%block name="content"></%block>
         </main>
         ${footer.html_footer()}
    </div>
    ${base.late_load_js()}
    <%block name="extra_js"></%block>
    ${body_end}
    ${template_hooks['body_end']()}
</body>
</html>
