## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
<%namespace name="annotations" file="annotation_helper.tmpl"/>
${set_locale(lang)}
<!DOCTYPE html>
<html

% if use_open_graph or (twitter_card and twitter_card['use_twitter_cards']) or (comment_system == 'facebook'):
    prefix='
    %if use_open_graph or (twitter_card and twitter_card['use_twitter_cards']):
        og: http://ogp.me/ns#
    %endif
    %if use_open_graph:
        article: http://ogp.me/ns/article#
    %endif
    %if comment_system == 'facebook':
        fb: http://ogp.me/ns/fb#
    %endif
    '
%endif

lang="${lang}">
<head>
    ${base.html_head()}
    <%block name="extra_head">
    </%block>
    ${extra_head_data}
</head>
<body>
    <div id="container">
    <header>
        <a href="${abs_link('/')}" title="${blog_title}" rel="home"><h1 id="blog-title">${blog_title}</h1></a>
        ${base.html_navigation_links()}
        %if search_form:
            ${search_form}
        %endif
        <%block name="belowtitle">
            %if len(translations) > 1:
                <h2 class="translations">${messages("Also available in:")}</h2>
                ${base.html_translations()}
            %endif
        </%block>
    </header>
    <%block name="content"></%block>
    %if content_footer:
        <footer role="contentinfo">
        <p>${content_footer}</p>
        </footer>
    %endif
    </div>
    ${base.late_load_js()}
    ${base.html_social()}
</body>
</html>
