## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
<%namespace name="header" file="base_header.tmpl" import="*"/>
<%namespace name="footer" file="base_footer.tmpl" import="*"/>
${set_locale(lang)}
### <html> tag is included by base.html_headstart
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
<body>
    <a href="#content" class="sr-only sr-only-focusable">${messages("Skip to main content")}</a>
    <div id="container">
         ${header.html_header()}
         <main id="content">
            <%block name="content"></%block>
         </main>
         ${footer.html_footer()}
    </div>
    ${base.late_load_js()}
    % if use_cdn:
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.2/baguetteBox.min.js"></script>
    % else:
        <script src="/assets/js/baguetteBox.min.js"></script>
    % endif
    <%block name="extra_js"></%block>
    <script>baguetteBox.run('a.reference', {
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
    }});</script>
    ${body_end}
    ${template_hooks['body_end']()}
</body>
</html>
