## -*- coding: utf-8 -*-
<%def name="comment_form(url, title, identifier)">
    <div id="commento"></div>
</%def>

<%def name="comment_link(link, identifier)">
</%def>


<%def name="comment_link_script()">
<script src="${comment_system_id}/assets/js/commento.min.js"></script>
<script>
window.onload = function() {
    Commento.init({
        serverUrl: "${comment_system_id}",
    });
}
</script>
</%def>
