## -*- coding: utf-8 -*-

<%def name="bar(crumbs)">
%if crumbs:
<nav class="breadcrumbs">
<ul class="breadcrumb">
    % for link, text in crumbs:
        <li><a href="${link}">${text}</a></li>
    % endfor
</ul>
</nav>
%endif
</%def>
