## -*- coding: utf-8 -*-

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

<div class="fotorama"
     % for key, value in options.iteritems():
     data-${key}="${value}"
     % endfor
     >
  % for image in fotorama_content:
    <a href="${image['url']}"><img src="${image['url_thumb']}"></a>
  % endfor
</div>
