## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="ui" file="crumbs.tmpl" import="bar"/>
<%block name="sourcelink"></%block>

<%block name="content">
    ${ui.bar(crumbs)}
    %if text:
    <p>
        ${text}
    </p>
    %endif
    <ul>
    % for folder in folders:
        <li><a href="${folder}"><i class="icon-folder-open"></i>&nbsp;${folder}</a></li>
    % endfor
    </ul>
    <ul class="thumbnails">
        %for image in photo_array:
            <li><a href="${image['url']}" class="thumbnail image-reference" title="${image['title']}">
                <img src="${image['url_thumb']}" alt="${image['title']}" /></a>
        %endfor
    </ul>
%if enable_comments:
    ${comments.comment_form(None, permalink, title)}
%endif
</%block>
