<!--
%for k,v in feed['metadata'].items():
.. ${k}: ${item.get(v, v)}
%endfor
-->

<div>
<img class='img-thumbnail pull-left' src="${item['book_medium_image_url']}">
<p>Author: ${item['author_name']}</p>

<p>${item['user_review']}</p>
</div>
