## -*- coding: utf-8 -*-
<%def name="html_pager()">
    %if prevlink or nextlink:
        <nav class="postindexpager">
        <ul class="pager">
        %if prevlink:
            <li class="previous">
                <a href="${prevlink}" rel="prev">${messages("Newer posts")}</a>
            </li>
        %endif
        %if nextlink:
            <li class="next">
                <a href="${nextlink}" rel="next">${messages("Older posts")}</a>
            </li>
        %endif
        </ul>
        </nav>
    %endif
</%def>

<%def name="mathjax_script(posts)">
    %if any(post.is_mathjax for post in posts):
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$latex ','$'], ['\\(','\\)']]}});</script>
        <script src="/assets/js/mathjax.js"></script>
    %endif
</%def>
