## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="content">
<ul class="breadcrumb">
    % for link, crumb in crumbs:
        <li><a href="${link}">/ ${crumb}</a></li>
    % endfor
</ul>
${code}
</%block>
