## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace name="archive_nav" file="archive_navigation_helper.tmpl" import="*"/>

<%block name="extra_head">
%if 'archive_page' in pagekind:
    %for language, archive_path, _ in other_archive_languages:
        <link rel="alternate" hreflang="${language}" href="${_link('archive', archive_path, language)}">
    %endfor
%endif
</%block>

<%block name="content">
<article class="listpage">
    <header>
        <h1>${title|h}</h1>
    </header>
    ${archive_nav.archive_navigation()}
    %if items:
    <ul class="postlist">
    % for text, link, count in items:
        <li><a href="${link}">${text|h}</a>
        % if count:
            (${count})
        % endif
    % endfor
    </ul>
    %else:
    <p>${messages("Nothing found.")}</p>
    %endif
</article>
</%block>
