## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>

<%block name="content">
<article class="listpage">
    <header>
        <h1>${title|h}</h1>
    </header>
    %if posts:
    <ul class="postlist">
    % for post in posts:
        <li><time class="listdate" datetime="${post.formatted_date('webiso')}" title="${post.formatted_date(date_format)|h}">${post.formatted_date(date_format)|h}</time> <a href="${post.permalink()}" class="listtitle">${post.title()|h}</a></li>
    % endfor
    </ul>
    %else:
    <p>${messages("No posts found.")}</p>
    %endif
</article>
</%block>
