## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace name="archive_nav" file="archive_navigation_helper.tmpl" import="*"/>

<%block name="extra_head">
    %if has_other_languages and other_languages:
        %for language, classification, _ in other_languages:
            <link rel="alternate" hreflang="${language}" href="${_link(kind, classification, language)}">
        %endfor
    %endif
</%block>

<%block name="content">
<article class="listpage">
    <header>
        <h1>${title|h}</h1>
    </header>
    ${archive_nav.archive_navigation()}
    %if has_other_languages and other_languages:
        <div class="translationslist translations">
            <h3 class="translationslist-intro">${messages("Also available in:")}</h3>
        %for language, classification, name in other_languages:
            <p><a href="${_link(kind, classification, language)}" rel="alternate">${messages("LANGUAGE", language)}
            %if kind != 'archive':
                (${name|h})
            %endif
            </a></p>
        %endfor
        </div>
    %endif
    %if posts:
    <ul class="postlist">
    % for post in posts:
        <li><time class="listdate" datetime="${post.formatted_date('webiso')}" title="${post.formatted_date(date_format)|h}">${post.formatted_date(date_format)|h}</time> <a href="${post.permalink()}" class="listtitle">${post.title()|h}</a></li>
    % endfor
    </ul>
    %else:
    <p>${messages("No posts found.")}</p>
    %endif
</article>
</%block>
