## -*- coding: utf-8 -*-

<%def name="html_disqus(url, title, identifier)">
    <a class="moot" href="https://moot.it/i/${disqus_forum}/${identifier}">${disqus_forum} forums</a>
</%def>

<%def name="html_disqus_link(link, identifier)">
</%def>


<%def name="html_disqus_script()">
<script src="https://cdn.moot.it/1/moot.min.js"></script>
</%def>
