## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="comments" file="comments_helpers.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="extra_head">
% if post.meta('keywords'):
    <meta name="keywords" content="${post.meta('keywords')|h}">
% endif
<meta name="author" content="${post.author()}">
${helper.open_graph_metadata(post)}
${helper.twitter_card_information(post)}
${helper.meta_translations(post)}
</%block>

<%block name="content">
    <article class="postbox post-${post.meta('type')} h-entry hentry postpage" itemscope="itemscope" itemtype="http://schema.org/Article">
    <header>
        ${helper.html_title()}
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn">${post.author()}</span></p>
            <p class="dateline"><a href="${post.permalink()}" rel="bookmark"><time class="published dt-published" datetime="${post.date.isoformat()}" itemprop="datePublished" title="${messages("Publication date")}">${post.formatted_date(date_format)}</time></a></p>
            ${helper.html_translations(post)}
            <%block name="sourcelink">
                % if not post.meta('password'):
                    <p class="sourceline"><a href="${post.source_link()}" id="sourcelink">${messages("Source")}</a></p>
                % endif
            </%block>
            %if post.description():
                <meta content="${post.description()}" itemprop="description">
            %endif
        </div>
    </header>
    <div class="e-content entry-content" itemprop="articleBody text">
    ${post.text()}
    </div>
    <aside class="postpromonav">
    <nav>
    ${helper.html_tags(post)}
    ${helper.html_pager(post)}
    </nav>
    </aside>
    % if not post.meta('nocomments'):
        <section class="comments">
        <h2>${messages("Comments")}</h2>
        ${comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path)}
        </section>
    % endif
    ${helper.mathjax_script(post)}
    </article>
</%block>
