## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="extra_head">
${helper.twitter_card_information(post)}
% if post.meta('keywords'):
    <meta name="keywords" content="${post.meta('keywords')|h}">
% endif
${helper.meta_translations(post)}
</%block>
<%block name="content">
    <article class="postbox post-${post.meta('type')}">
    <section class="h-entry" itemscope="itemscope" itemtype="http://schema.org/Article">
    <header>
        ${helper.html_title()}
        <p class="byline author vcard">${messages("By")} <span class="byline-name fn">FIXME</span></p>
        <p class="dateline">${messages("Published on")} <time class="published dt-published" datetime="${post.date.isoformat()}" itemprop="datePublished">${post.formatted_date(date_format)}</time></p>
        ${helper.html_translations(post)}
		${helper.html_tags(post)}
		<%block name="sourcelink">
		% if not post.meta('password'):
			<p class="sourceline"><a href="${post.source_link()}" id="sourcelink">${messages("Source")}</a></p>
		% endif
		</%block>
    </header>
    <div class="e-content" itemprop="articleBody text">
    ${post.text()}
    </section>
    %if post.description():
        <meta content="${post.description()}" itemprop="description">
    %endif
    </div>
    </section>
    ${helper.html_pager(post)}
    % if not post.meta('nocomments'):
        <section class="comments">
        <h2>${messages("Comments")}</h2>
        ${comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path)}
        </section>
    % endif
    ${helper.mathjax_script(post)}
    </article>
</%block>
