## -*- coding: utf-8 -*-
<%inherit file="index.tmpl"/>
<%namespace name="translation_links" file="translation_link_helper.tmpl" import="*"/>

<%block name="extra_head">
    ${parent.extra_head()}
    ${translation_links.head(section)}
</%block>

<%block name="content">
<div class="sectionindex">
    <header>
        <h2><a href="${_link('section_index', section)}">${title|h}</a></h2>
        ${translation_links.link(section)}
    </header>
    ${parent.content()}
</div>
</%block>
