## -*- coding: utf-8 -*-
<%inherit file="index.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    % if generate_atom:
        <link rel="alternate" type="application/atom+xml" title="Atom for the ${posts[0].section_name()|h} section" href="${_link('section_index_atom', posts[0].section_slug())}">
    % endif
</%block>

<%block name="content">
<div class="sectionindex">
    <header>
        <h2><a href="${_link('section_index', posts[0].section_slug())}">${title|h}</a></h2>
        % if generate_atom:
            <p class="feedlink"><a href="${_link('section_index_atom', posts[0].section_slug())}" type="application/atom+xml">${messages('Updates')}</a></p>
        % endif
    </header>    
    ${parent.content()}
</div>
</%block>
