## -*- coding: utf-8 -*-
<%inherit file="post.tmpl"/>
<%namespace name="helper" file="post_helper.tmpl"/>
<%block name="extra_head">
${helper.twitter_card_information(post)}
</%block>
<%block name="content">
%if title:
    <h1>${title}</h1>
%endif
    ${post.text()}
%if enable_comments and not post.meta('nocomments'):
    ${disqus.html_disqus(post.permalink(absolute=True), post.title(), post.base_path)}
%endif
</%block>
