## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%block name="sourcelink"></%block>

<%block name="content">
    <ul class="breadcrumb">
        % for link, crumb in crumbs:
            <li><a href="${link}">/ ${crumb}</a>
        % endfor
    </ul>
    %if text:
    <p>
        ${text}
    </p>
    %endif
    <ul>
    % for folder in folders:
        <li><a href="${folder}"><i class="icon-folder-open"></i>&nbsp;${folder}</a>
    % endfor
    </ul>

    <div id="gallery_container"></div>
    <noscript>
    <ul class="thumbnails">
        %for image in photo_array:
            <li><a href="${image['url']}" class="thumbnail image-reference" title="${image['title']}">
                <img src="${image['url_thumb']}" alt="${image['title']}" /></a>
        %endfor
    </ul>
    </noscript>
%if enable_comments:
    ${disqus.html_disqus(None, permalink, title)}
%endif
</%block>


<%block name="extra_head">
<link href="/assets/css/colorbox.css" rel="stylesheet" type="text/css">
<style type="text/css">
    .image-block {
        display: inline-block;
    }
    .flowr_row {
        width: 100%;
    }
    </style>
</%block>


<%block name="extra_js">
<script src="/assets/js/jquery-1.7.2.min.js"></script>
<script src="/assets/js/jquery.colorbox-min.js"></script>
<script src="/assets/js/flowr.plugin.js"></script>
<script>
jsonContent = ${photo_array_json};
$("#gallery_container").flowr({
        data : jsonContent,
        height : ${thumbnail_size}*.6,
        padding: 5,
        rows: -1,
        render : function(params) {
            // Just return a div, string or a dom object, anything works fine
            img = $("<img />").attr({
                'src': params.itemData.url_thumb,
                'width' : params.width,
                'height' : params.height
            }).css('max-width', '100%');
            link = $( "<a></a>").attr({
                'href': params.itemData.url,
                'class': 'image-reference'
            });
            div = $("<div />").addClass('image-block').attr({
                'title': params.itemData.title,
                'data-toggle': "tooltip",
            });
            link.append(img);
            div.append(link);
            //div.hover(div.tooltip());
            return div;
        },
        itemWidth : function(data) { return data.size.w; },
        itemHeight : function(data) { return data.size.h; },
        complete : function(params) {
            if( jsonContent.length > params.renderedItems ) {
                nextRenderList = jsonContent.slice( params.renderedItems );
            }
        }
    });
$("a.image-reference").colorbox({rel:"gal", maxWidth:"100%",maxHeight:"100%",scalePhotos:true});
</script>
</%block>
