## -*- coding: utf-8 -*-
<%def name="html_pager()">
<div>
<ul class="pager">
  %if prevlink:
    <li class="previous">
        <a href="${prevlink}">&larr; ${messages("Newer posts")}</a>
    </li>
  %endif
  %if nextlink:
    <li class="next">
        <a href="${nextlink}">${messages("Older posts")} &rarr;</a>
    </li>
  %endif
</ul>
</div>
</%def>
