## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    % for post in posts:
        <div class="postbox">
        <h1><a href="${post.permalink()}">${post.title()}</a></h1>
            <div class="meta" style="background-color: rgb(234, 234, 234); ">                    
                <span class="authordate">
                    ${messages("Posted")}: ${post.formatted_date(date_format)}
                </span>
                <br>
                <span class="tags">Tags:&nbsp;
                    %if post.tags:
                        %for tag in post.tags:
                            <a class="tag" href="${_link('tag', tag)}"><span class="badge badge-info">${tag}</span></a>
                        %endfor
                    %endif
                </span>
            </div>
        ${post.text(teaser_only=index_teasers)}
        % if not post.meta('nocomments'):
            ${disqus.html_disqus_link(post.permalink()+"#disqus_thread", post.base_path)}
        % endif
        </div>
    % endfor
    ${helper.html_pager()}
    ${disqus.html_disqus_script()}
</%block>
