language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
install:
  - "diff requirements.txt requirements-full.txt | grep '^<' && echo 'WARNING WARNING WARNING: Some dependencies are missing from requirements-full.txt!' || true"
  - "pip install -r requirements-full.txt --use-mirrors"
  - "pip install flake8 --use-mirrors"
  - "pip install freezegun --use-mirrors"
  - "pip install . --use-mirrors"
# We run tests and afterwards nikola to see if the command is executable.
script:
 - nosetests --with-doctest --doctest-options=+NORMALIZE_WHITESPACE
 - nikola help
 - "flake8 --exit-zero nikola --ignore=E501"
