global-include *.css *.html *.js
global-include engine parent bundles *.tmpl
global-include *.jpg *.png *.svg *.ico *.gif
global-include *.ttf *.eot *.woff
global-include *.py *.txt *.rst *.md *.in *.meta
