graft bower_components
graft docs
graft logo
graft nikola
graft scripts
graft tests
graft translations
include *.txt
include *.rst
include *.py
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
