-r requirements.txt
mock>=1.0.0
requests>=1.0
markdown
Jinja2>=2.7
bbcode
https://github.com/getnikola/python-livereload/archive/master.zip
pyphen
python-dateutil
micawber
pygal
typogrify
phpserialize
webassets
coverage
python-coveralls
nose
