doit>=0.20.0
pygments
pillow>=2.0.0
docutils
mako>=0.6
unidecode
lxml
yapsy==1.10.2-pythons2n3
PyRSS2Gen
pytz==2013b
mock>=1.0.0
requests>=1.0
markdown
Jinja2
bbcode
https://github.com/lepture/python-livereload/archive/master.zip#livereload
pyphen
python-dateutil
micawber
pygal
typogrify
