## -*- coding: utf-8 -*-

<%def name="comment_form(url, title, identifier)">
    <a class="muut" href="https://muut.com/i/${comment_system_id}/${identifier}">${comment_system_id} forums</a>
</%def>

<%def name="comment_link(link, identifier)">
</%def>


<%def name="comment_link_script()">
<script src="https://cdn.muut.com/1/moot.min.js"></script>
</%def>
