{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'bootstrap_helper.tmpl' as bootstrap with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}
<!DOCTYPE html>
<html
{% if comment_system == 'facebook' %}
xmlns:fb="http://ogp.me/ns/fb#"
{% endif %}
lang="{{ lang }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bootstrap.html_head() }}
    {% block extra_head %}
    {% endblock %}
    {% if annotations and post and not post.meta('noannotations') %}
        {{ notes.css() }}
    {% elif not annotations and post and post.meta('annotations') %}
        {{ notes.css() }}
    {% endif %}
    {{ extra_head_data }}
</head>
<body>
<!-- Menubar -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid"><!-- This keeps the margins nice -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ abs_link('/') }}">{{ blog_title }}</a>
        </div><!-- /.navbar-header -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                {{ bootstrap.html_navigation_links() }}
            </ul>
            {% if search_form %}
                {{ search_form }}
            {% endif %}

            <ul class="nav navbar-nav navbar-right">
                {% block belowtitle %}
                {% if translations|length > 1 %}
                    <li>{{ bootstrap.html_translations() }}</li>
                {% endif %}
                {% endblock %}
                {% if not hide_sourcelink %}
                    {% block sourcelink %}{% endblock %}
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- End of Menubar -->

<div class="container">
    <div class="body-content">
        <!--Body content-->
        <div class="row">
            {% block content %}{% endblock %}
        </div>
        <!--End of body content-->

        <footer>
            {{ content_footer }}
        </footer>
    </div>
</div>

{{ bootstrap.late_load_js() }}
{{ base.html_social() }}
    <script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
    {% block extra_js %}{% endblock %}
    {% if annotations and post and not post.meta('noannotations') %}
        {{ notes.code() }}
    {% elif not annotations and post and post.meta('annotations') %}
        {{ notes.code() }}
    {% endif %}
{{ body_end }}
</body>
</html>