{#  -*- coding: utf-8 -*- #}
{% extends 'base-jinja/templates/base_helper.tmpl' %}
{% import 'annotation_helper.tmpl' as notes with context %}

{% macro html_headstart() %}
    {{ parent.html_headstart() }}
{% endmacro %}

{% macro late_load_js() %}
    {% if use_bundles %}
        {% if use_cdn %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <script src="/assets/js/all.js"></script>
        {% else %}
            <script src="/assets/js/all-nocdn.js"></script>
        {% endif %}
    {% else %}
        {% if use_cdn %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% else %}
            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script>
            <script src="/assets/js/moment-with-locales.min.js"></script>
            <script src="/assets/js/fancydates.js"></script>
        {% endif %}
        <script src="/assets/js/jquery.colorbox-min.js"></script>
    {% endif %}
    {% if colorbox_locales[lang] %}
        <script src="/assets/js/colorbox-i18n/jquery.colorbox-{{ colorbox_locales[lang] }}.js"></script>
    {% endif %}
    {{ social_buttons_code }}
{% endmacro %}

{% macro html_stylesheets() %}
    {% if use_bundles %}
        {% if use_cdn %}
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
            <link href="/assets/css/all.css" rel="stylesheet" type="text/css">
        {% else %}
            <link href="/assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
        {% endif %}
    {% else %}
        {% if use_cdn %}
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        {% else %}
            <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        {% endif %}
        <link href="/assets/css/rst.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/colorbox.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/theme.css" rel="stylesheet" type="text/css">
        {% if has_custom_css %}
            <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
        {% endif %}
    {% endif %}
    {% if needs_ipython_css %}
        <link href="/assets/css/ipython.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/nikola_ipython.css" rel="stylesheet" type="text/css">
    {% endif %}
    {% if annotations and post and not post.meta('noannotations') %}
        {{ notes.css() }}
    {% elif not annotations and post and post.meta('annotations') %}
        {{ notes.css() }}
    {% endif %}
{% endmacro %}

{% macro html_feedlinks() %}
    {{ parent.html_feedlinks() }}
{% endmacro %}

{% macro html_translations() %}
    {% for langname in translations|sort %}
        {% if langname != lang %}
            <li><a href="{{ abs_link(_link("root", None, langname)) }}" rel="alternate" hreflang="{{ langname }}">{{ messages("LANGUAGE", langname) }}</a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro html_navigation_links() %}
    {% for url, text in navigation_links[lang] %}
        {% if isinstance(url, tuple) %}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ text }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
            {% for suburl, text in url %}
                {% if rel_link(permalink, suburl) == "#" %}
                    <li class="active"><a href="{{ permalink }}">{{ text }} <span class="sr-only">{{ messages("(active)", lang) }}</span></a>
                {% else %}
                    <li><a href="{{ suburl }}">{{ text }}</a>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            {% if rel_link(permalink, url) == "#" %}
                <li class="active"><a href="{{ permalink }}">{{ text }} <span class="sr-only">{{ messages("(active)", lang) }}</span></a>
            {% else %}
                <li><a href="{{ url }}">{{ text }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}
