{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}
{% block extra_head %}
{{ helper.twitter_card_information(post) }}
{% if post.meta('keywords') %}
    <meta name="keywords" content="{{ post.meta('keywords')|e }}">
{% endif %}
{{ helper.meta_translations(post) }}
{% endblock %}
{% block content %}
    <article class="postbox post-{{ post.meta('type') }}">
    <div class="h-entry" itemscope="itemscope" itemtype="http://schema.org/Article">
    {{ helper.html_title() }}
    <hr>
    <small>
        {{ messages("Posted:") }} <time class="published dt-published" datetime="{{ post.date.isoformat() }}" itemprop="datePublished">{{ post.formatted_date(date_format) }}</time>
        {{ helper.html_translations(post) }}
        {{ helper.html_tags(post) }}
    </small>
    <hr>
    <div class="e-content" itemprop="articleBody text">
    {{ post.text() }}
    </div>
    {% if post.description() %}
        <meta content="{{ post.description() }}" itemprop="description">
    {% endif %}
    </div>
    {{ helper.html_pager(post) }}
    {% if not post.meta('nocomments') %}
        {{ comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path) }}
    {% endif %}
    {{ helper.mathjax_script(post) }}
    </article>
{% endblock %}

{% block sourcelink %}
{% if not post.meta('password') %}
    <li>
    <a href="{{ post.source_link() }}" id="sourcelink">{{ messages("Source") }}</a>
    </li>
{% endif %}
{% endblock %}