{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% import 'base/templates/post.tmpl' as base with context %}
{% extends 'base.tmpl' %}

{% block sourcelink %}
{% if show_sourcelink %}
    <li>
    <a href="{{ post.source_link() }}" id="sourcelink">{{ messages("Source") }}</a>
    </li>
{% endif %}
{% endblock %}

{% block extra_head %}
{{ base.extra_head() }}
{% endblock %}

{% block content %}
{{ base.content() }}
{% endblock %}
