{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% block content %}
    <h1>{{ title }}</h1>
    {% if cat_items %}
        <h2>{{ messages("Categories") }}</h2>
        <ul class="list-unstyled bricks">
        {% for text, link in cat_items %}
            {% if text %}
                <li><a class="reference" href="{{ link }}">{{ text }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        {% if items %}
            <h2>{{ messages("Tags") }}</h2>
        {% endif %}
    {% endif %}
    {% if items %}
        <ul class="list-unstyled bricks">
        {% for text, link in items %}
            <li><a class="reference" href="{{ link }}">{{ text }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}