## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="content">
    % for post in posts:
        <div style="border: 2px solid darkgrey; margin-bottom: 12px; border-radius: 4px; padding:12px; overflow: auto;">
        <a href="${post.link}"><h1>${post.title(lang)}</a>
        <small>&nbsp;&nbsp;
          Publicado:   ${post.date}
        </small></h1>
        ${post.text(lang)}
        </div>
    % endfor
    <div>
<ul class="pager">
  %if prevlink:
    <li class="previous">
        <a href="${prevlink}">&larr; Posts posteriores</a>
    </li>
  %endif
  %if nextlink:
    <li class="next">
        <a href="${nextlink}">Posts anteriores &rarr;</a>
    </li>
  %endif
</ul>
</%block>
