## -*- coding: utf-8 -*-
<html>
<body>
<script type="text/javascript">
<!--
window.location = "${post.link}"
//-->
</script>
Redirecting you to <a href="${post.link}">the original location.</a>
</body>