## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html lang="${lang}">
<head>
    <meta charset="utf-8">
    <title>${title}</title>
    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/rst.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
    %if exists("files/assets/css/custom.css", not_empty=True):
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
    %endif
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %if rss_link:
        ${rss_link}
    %else:
        %for language in translations:
            <link rel="alternate" type="application/rss+xml" title="RSS (${language})" href="${_link("rss", None, lang)}">
        %endfor
    %endif
    <%block name="extra_head">
    </%block>
</head>
<body>
<!-- Menubar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="${abs_link('/')}">
            ${blog_title}
            </a>
            <ul class="nav">
                %for url, text in sidebar_links[lang]:
                    % if rel_link(permalink, url) == "#":
                        <li class="active"><a href="${url}">${text}</a>
                    %else:
                        <li><a href="${url}">${text}</a>
                    %endif
                %endfor
            </ul>
            %if search_form:
                ${search_form}
            %endif
            <ul class="nav pull-right">
            <%block name="belowtitle">
            %if len(translations) > 1:
                    <li>
                    %for langname in translations.keys():
                        %if langname != lang:
                            <a href="${_link("index", None, langname)}">${messages[langname]["LANGUAGE"]}</a>
                        %endif
                    %endfor
                    </li>
            %endif
            </%block>
            <%block name="sourcelink"> </%block>
            </ul>
        </div>
    </div>
</div>
<!-- End of Menubar -->

<div class="container" id="container" style="margin-top: 50px;">
    <!--Body content-->
    <%block name="content"></%block>
    <!--End of body content-->
</div>
    <div class="span12" style="text-align: center;">
    <hr>
    <small>${content_footer}</small>
    </div>
    %if add_this_buttons:
    <!-- addthis -->
    <div class="addthis_bar addthis_bar_vertical addthis_bar_small" style="top:50px;left:10px;">
        <div class="addthis_toolbox addthis_default_style">
            <span><a class="addthis_button_preferred_1"></a></span>
            <span><a class="addthis_button_preferred_2"></a></span>
            <span><a class="addthis_button_preferred_3"></a></span>
            <span><a class="addthis_button_preferred_4"></a></span>
            <span><a class="addthis_button_compact"></a></span>
        </div>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f7088a56bb93798"></script>
    <!-- End of addthis -->
    %endif
${analytics}
</body>
