## -*- coding: utf-8 -*-
<%namespace file="base_helper.tmpl" import="*"/>
<!DOCTYPE html>
<html lang="${lang}">
<head>
    ${html_head()}
    <%block name="extra_head">
    </%block>
</head>
<body>
<!-- Menubar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="${abs_link('/')}">
            ${blog_title}
            </a>
            <ul class="nav">
                ${html_sidebar_links()}
            </ul>
            %if search_form:
                ${search_form}
            %endif
            <ul class="nav pull-right">
            <%block name="belowtitle">
            %if len(translations) > 1:
                <li>${html_translations()}</li>
            %endif
            </%block>
            <%block name="sourcelink"> </%block>
            </ul>
        </div>
    </div>
</div>
<!-- End of Menubar -->
<div class="container" id="container">
    <!--Body content-->
    <%block name="content"></%block>
    <!--End of body content-->
    <div class="footerbox">
    ${content_footer}
    </div>
</div>
${html_social()}
${analytics}
    <script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"80%",maxHeight:"80%",scalePhotos:true});</script>
</body>
