## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    <div class="postbox">
    <h1>${title}</h1>
    % if link:
            <p><a href='${link}'>${messages[lang]["Original site"]}</a></p>
    % endif
    <hr>
    <small>
        ${messages[lang]["Posted"]}: ${post.date.strftime(date_format)}

        %if len(translations) > 1:
            %for langname in translations.keys():
                %if langname != lang:
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="${post.permalink(langname)}">${messages[langname]["Read in English"]}</a>
                %endif
            %endfor
        %endif
        %if post.tags:
            &nbsp;&nbsp;|&nbsp;&nbsp;${messages[lang]["More posts about"]}
            %for tag in post.tags:
                <a href="${_link("tag", tag, lang)}"><span class="badge badge-info">${tag}</span></a>
            %endfor
        %endif
    </small>
    <hr>
    ${post.text(lang)}
    ${helper.html_pager()}
    ${helper.html_disqus()}
    </div>
</%block>

<%block name="sourcelink">
    <li>
    <a href="${post.pagenames[lang]+post.source_ext()}">${messages[lang]["Source"]}</a>
    </li>
</%block>
