## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">${messages("Skip to main content")}</a>

<!-- Menubar -->

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container"><!-- This keeps the margins nice -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">${messages("Toggle navigation")}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="${abs_link(_link("root", None, lang))}">
            %if logo_url:
                <img src="${logo_url}" alt="${blog_title|h}" id="logo">
            %endif

            % if show_blog_title:
                <span id="blog-title">${blog_title|h}</span>
            % endif
            </a>
        </div><!-- /.navbar-header -->
        <div class="collapse navbar-collapse" id="bs-navbar" aria-expanded="false">
            <ul class="nav navbar-nav">
                ${base.html_navigation_links()}
                ${template_hooks['menu']()}
            </ul>
            %if search_form:
                ${search_form}
            %endif

            <ul class="nav navbar-nav navbar-right">
                <%block name="belowtitle">
                %if len(translations) > 1:
                    <li>${base.html_translations()}</li>
                %endif
                </%block>
                % if show_sourcelink:
                    <%block name="sourcelink"></%block>
                %endif
                ${template_hooks['menu_alt']()}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<!-- End of Menubar -->

<div class="container" id="content" role="main">
    <div class="body-content">
        <!--Body content-->
        <div class="row">
            ${template_hooks['page_header']()}
            <%block name="content"></%block>
        </div>
        <!--End of body content-->

        <footer id="footer">
            ${content_footer}
            ${template_hooks['page_footer']()}
        </footer>
    </div>
</div>

${base.late_load_js()}
    <!-- fancy dates -->
    <script>
    moment.locale("${momentjs_locales[lang]}");
    fancydates(${date_fanciness}, ${js_date_format});
    </script>
    <!-- end fancy dates -->
    <%block name="extra_js"></%block>
    <script>
    baguetteBox.run('div#content', {
        ignoreClass: 'islink',
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
    }});
    </script>
${body_end}
${template_hooks['body_end']()}
</body>
</html>
