## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace name="ui" file="crumbs.tmpl" import="bar"/>
<%block name="content">
${ui.bar(crumbs)}
<ul class="list-unstyled">
% for name in folders:
    <li><a href="${name}"><i class="glyphicon glyphicon-folder-open"></i> ${name}</a>
% endfor
% for name in files:
    <li><a href="${name}.html"><i class="glyphicon glyphicon-file"></i> ${name}</a>
% endfor
</ul>
% if code:
    ${code}
% endif
</%block>
