## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="pheader" file="post_header.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="basepost" file="base/templates/post.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="sourcelink">
% if show_sourcelink:
    <li>
    <a href="${post.source_link()}" id="sourcelink">${messages("Source")}</a>
    </li>
% endif
</%block>

<%block name="extra_head">
${basepost.extra_head()}
</%block>

<%block name="content">
${basepost.content()}
</%block>
