{#  -*- coding: utf-8 -*- #}
{% extends 'index.tmpl' %}
{% import 'archive_navigation_helper.tmpl' as archive_nav with context %}
{% import 'translation_link_helper.tmpl' as translation_links with context %}

{% block extra_head %}
    {{ super() }}
    {{ translation_links.head(archive_name) }}
{% endblock %}

{% block content_header %}
    {{ archive_nav.archive_navigation() }}
    {{ parent.content_header() }}
{% endblock %}
