{#  -*- coding: utf-8 -*- #}
{% extends 'index.tmpl' %}
{% import 'archive_navigation_helper.tmpl' as archive_nav with context %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}

{% block extra_head %}
    {{ super() }}
    {{ feeds_translations.head(archive_name) }}
{% endblock %}

{% block content_header %}
    {{ archive_nav.archive_navigation() }}
    {{ super() }}
{% endblock %}
