{#  -*- coding: utf-8 -*- #}
{% extends 'index.tmpl' %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}

{% block content_header %}
    <header>
        <h1>{{ title|e }}</h1>
        {% if description %}
        <p>{{ description }}</p>
        {% endif %}
        <div class="metadata">
            {{ feeds_translations.feed_link(author, kind) }}
            {{ feeds_translations.translation_link(kind) }}
        </div>
    </header>
{% endblock %}

{% block extra_head %}
    {{ super() }}
    {{ feeds_translations.head(author, kind, rss_override=False) }}
{% endblock %}
