{#  -*- coding: utf-8 -*- #}
{% extends 'list_post.tmpl' %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}

{% block extra_head %}
    {{ feeds_translations.head(author, kind, rss_override=False) }}
{% endblock %}

{% block content %}
<article class="authorpage">
    <header>
        <h1>{{ title|e }}</h1>
        {% if description %}
            <p>{{ description }}</p>
        {% endif %}
        <div class="metadata">
            {{ feeds_translations.feed_link(author, kind) }}
        </div>
    </header>
    {% if posts %}
        <ul class="postlist">
            {% for post in posts %}
                <li><time class="listdate" datetime="{{ post.formatted_date('webiso') }}" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date(date_format)|e }}</time> <a href="{{ post.permalink() }}" class="listtitle">{{ post.title()|e }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</article>
{% endblock %}
