{#  -*- coding: utf-8 -*- #}
{% extends 'index.tmpl' %}
{% import 'translation_link_helper.tmpl' as translation_links with context %}

{% block extra_head %}
    {{ super() }}
    {{ translation_links.head(author) }}
{% endblock %}
