{#  -*- coding: utf-8 -*- #}
{% extends 'list_post.tmpl' %}
{% import 'translation_link_helper.tmpl' as translation_links with context %}

{% block extra_head %}
    {{ super() }}
    {{ translation_links.head(author) }}
{% endblock %}


{% block content %}
<article class="authorpage">
    <header>
        <h1>{{ title|e }}</h1>
        {% if description %}
            <p>{{ description }}</p>
        {% endif %}
        <div class="metadata">
            {{ translation_links.link(author) }}
        </div>
    </header>
    {% if posts %}
        <ul class="postlist">
            {% for post in posts %}
                <li><time class="listdate" datetime="{{ post.formatted_date('webiso') }}" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date(date_format)|e }}</time> <a href="{{ post.permalink() }}" class="listtitle">{{ post.title()|e }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</article>
{% endblock %}
