{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}

{% block extra_head %}
    {{ feeds_translations.head(kind=kind, feeds=False) }}
{% endblock %}

{% block content %}
<article class="authorindex">
    {% if items %}
        <h2>{{ messages("Authors") }}</h2>
        <div class="metadata">
            {{ feeds_translations.translation_link(kind) }}
        </div>
        <ul class="postlist">
        {% for text, link in items %}
            {% if text not in hidden_authors %}
                <li><a class="reference listtitle" href="{{ link }}">{{ text|e }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
</article>
{% endblock %}
