{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}

{% block content %}
<article class="authorindex">
    {% if items %}
        <h2>{{ messages("Authors") }}</h2>
        <ul class="postlist">
        {% for text, link in items %}
            {% if text not in hidden_authors %}
                <li><a class="reference listtitle" href="{{ link }}">{{ text|e }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
</article>
{% endblock %}
