{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'base_header.tmpl' as header with context %}
{% import 'base_footer.tmpl' as footer with context %}
{% import 'annotation_helper.tmpl' as annotations with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">{{ messages("Skip to main content") }}</a>
    <div id="container">
         {{ header.html_header() }}
         <main id="content">
            {% block content %}{% endblock %}
         </main>
         {{ footer.html_footer() }}
    </div>
    {{ base.late_load_js() }}
    {% block extra_js %}{% endblock %}
    {{ body_end }}
    {{ template_hooks['body_end']() }}
</body>
</html>
