{#  -*- coding: utf-8 -*- #}
{% extends 'index.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if generate_atom %}
        <link rel="alternate" type="application/atom+xml" title="Atom for the {{ posts[0].category_name() }} section" href="/FIXME">
    {% endif %}
{% endblock %}

{% block content %}
<div class="categoryindex">
    <header>
        <h2><a href="{{ posts[0].category_link() }}">{{ title }}</a></h2>
        {% if generate_atom %}
            <p class="feedlink"><a href="{{ _link('cat_index_atom', posts[0].category_slug()) }}" type="application/atom+xml">{{ messages('updates') }}</a></p>
        {% endif %}
    </header>    
    {{ parent.content() }}
</article>
{% endblock %}
