{#  -*- coding: utf-8 -*- #}

{% import 'disqus_helper.tmpl' as disqus with context %}
{% import 'livefyre_helper.tmpl' as livefyre with context %}
{% import 'intensedebate_helper.tmpl' as intensedebate with context %}
{% import 'moot_helper.tmpl' as moot with context %}
{% import 'googleplus_helper.tmpl' as googleplus with context %}
{% import 'facebook_helper.tmpl' as facebook with context %}
{% import 'isso_helper.tmpl' as isso with context %}

{% macro comment_form(url, title, identifier) %}
    {% if comment_system == 'disqus' %}
        {{ disqus.comment_form(url, title, identifier) }}
    {% elif comment_system == 'livefyre' %}
        {{ livefyre.comment_form(url, title, identifier) }}
    {% elif comment_system == 'intensedebate' %}
        {{ intensedebate.comment_form(url, title, identifier) }}
    {% elif comment_system == 'moot' %}
        {{ moot.comment_form(url, title, identifier) }}
    {% elif comment_system == 'googleplus' %}
        {{ googleplus.comment_form(url, title, identifier) }}
    {% elif comment_system == 'facebook' %}
        {{ facebook.comment_form(url, title, identifier) }}
    {% elif comment_system == 'isso' %}
        {{ isso.comment_form(url, title, identifier) }}
    {% endif %}
{% endmacro %}

{% macro comment_link(link, identifier) %}
    {% if comment_system == 'disqus' %}
        {{ disqus.comment_link(link, identifier) }}
    {% elif comment_system == 'livefyre' %}
        {{ livefyre.comment_link(link, identifier) }}
    {% elif comment_system == 'intensedebate' %}
        {{ intensedebate.comment_link(link, identifier) }}
    {% elif comment_system == 'moot' %}
        {{ moot.comment_link(link, identifier) }}
    {% elif comment_system == 'googleplus' %}
        {{ googleplus.comment_link(link, identifier) }}
    {% elif comment_system == 'facebook' %}
        {{ facebook.comment_link(link, identifier) }}
    {% elif comment_system == 'isso' %}
        {{ isso.comment_link(link, identifier) }}
    {% endif %}
{% endmacro %}

{% macro comment_link_script() %}
    {% if comment_system == 'disqus' %}
        {{ disqus.comment_link_script() }}
    {% elif comment_system == 'livefyre' %}
        {{ livefyre.comment_link_script() }}
    {% elif comment_system == 'intensedebate' %}
        {{ intensedebate.comment_link_script() }}
    {% elif comment_system == 'moot' %}
        {{ moot.comment_link_script() }}
    {% elif comment_system == 'googleplus' %}
        {{ googleplus.comment_link_script() }}
    {% elif comment_system == 'facebook' %}
        {{ facebook.comment_link_script() }}
    {% elif comment_system == 'isso' %}
        {{ isso.comment_link_script() }}
    {% endif %}
{% endmacro %}