{#  -*- coding: utf-8 -*- #}
{% macro comment_form(url, title, identifier) %}
    {% if comment_system_id %}
        <div data-title="{{ title|urlencode }}" id="isso-thread"></div>
        <script src="{{ comment_system_id }}js/embed.min.js" data-isso="{{ comment_system_id }}"></script>
    {% endif %}
{% endmacro %}

{% macro comment_link(link, identifier) %}
    {% if comment_system_id %}
        <a href="{{ link }}#isso-thread">Comments</a>
    {% endif %}
{% endmacro %}


{% macro comment_link_script() %}
    {% if comment_system_id and 'index' in pagekind %}
        <script src="{{ comment_system_id }}js/count.min.js" data-isso="{{ comment_system_id }}"></script>
    {% endif %}
{% endmacro %}
