{#  -*- coding: utf-8 -*- #}
{% macro comment_form(url, title, identifier) %}
    <div id="commento"></div>

    <script defer src="{{ comment_system_id }}/js/commento.min.js"></script>
{% endmacro %}

{% macro comment_link(link, identifier) %}
{% endmacro %}

{% macro comment_link_script() %}
{% endmacro %}
