{#  -*- coding: utf-8 -*- #}

{% macro comment_form(url, title, identifier) %}
{% endmacro %}

{% macro comment_link(link, identifier) %}
{% endmacro %}

{% macro comment_link_script() %}
{% endmacro %}
