{#  -*- coding: utf-8 -*- #}
{% macro html_pager() %}
    {% if prevlink or nextlink %}
        <nav class="postindexpager">
        <ul class="pager">
        {% if prevlink %}
            <li class="previous">
                <a href="{{ prevlink }}" rel="prev">{{ messages("Newer posts") }}</a>
            </li>
        {% endif %}
        {% if nextlink %}
            <li class="next">
                <a href="{{ nextlink }}" rel="next">{{ messages("Older posts") }}</a>
            </li>
        {% endif %}
        </ul>
        </nav>
    {% endif %}
{% endmacro %}

{% macro mathjax_script(posts) %}
    {% if posts|selectattr("is_mathjax")|list %}
        {% if use_katex %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/contrib/auto-render.min.js"></script>
            {% if katex_auto_render %}
                <script>
                    renderMathInElement(document.body,
                        {
                            {{ katex_auto_render }}
                        }
                    );
                </script>
            {% else %}
                <script>
                    renderMathInElement(document.body);
                </script>
            {% endif %}
        {% else %}
            <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
            {% if mathjax_config %}
            {{ mathjax_config }}
            {% else %}
            <script type="text/x-mathjax-config">
            MathJax.Hub.Config({tex2jax: {inlineMath: [['$latex ','$'], ['\\(','\\)']]}});
            </script>
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}
