{#  -*- coding: utf-8 -*- #}
{% import 'math_helper.tmpl' as math with context %}
{% macro html_pager() %}
    {% if prevlink or nextlink %}
        <nav class="postindexpager">
        <ul class="pager">
        {% if prevlink %}
            <li class="previous">
                <a href="{{ prevlink }}" rel="prev">{{ messages("Newer posts") }}</a>
            </li>
        {% endif %}
        {% if nextlink %}
            <li class="next">
                <a href="{{ nextlink }}" rel="next">{{ messages("Older posts") }}</a>
            </li>
        {% endif %}
        </ul>
        </nav>
    {% endif %}
{% endmacro %}

{#  This function is deprecated; use math_helper directly. #}
{% macro mathjax_script(posts) %}
    {{ math.math_scripts_ifposts(posts) }}
{% endmacro %}
