{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}

{% block content %}
<article class="listpage">
    <header>
        <h1>{{ title|e }}</h1>
    </header>
    {% if items %}
    <ul class="postlist">
    {% for text, link, count in items %}
        <li><a href="{{ link }}">{{ text|e }}</a>
        {% if count %}
            ({{ count }})
        {% endif %}
    {% endfor %}
    </ul>
    {% else %}
    <p>{{ messages("Nothing found.") }}</p>
    {% endif %}
</article>
{% endblock %}
