{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% import 'archive_navigation_helper.tmpl' as archive_nav with context %}

{% block content %}
<article class="listpage">
    <header>
        <h1>{{ title|e }}</h1>
    </header>
    {{ archive_nav.archive_navigation() }}
    {% if has_other_languages and other_languages %}
        <div class="translationslist translations">
            <h3 class="translationslist-intro">{{ messages("Also available in:") }}</h3>
        {% for language, classification, name in other_languages %}
            <p><a href="{{ _link(kind, classification, language) }}" rel="alternate">{{ messages("LANGUAGE", language) }}
            {% if kind != 'archive' %}
                ({{ name|e }})
            {% endif %}
            </a></p>
        {% endfor %}
        </div>
    {% endif %}
    {% if posts %}
    <ul class="postlist">
    {% for post in posts %}
        <li><time class="listdate" datetime="{{ post.formatted_date('webiso') }}" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date(date_format)|e }}</time> <a href="{{ post.permalink() }}" class="listtitle">{{ post.title()|e }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>{{ messages("No posts found.") }}</p>
    {% endif %}
</article>
{% endblock %}
