{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% import 'archive_navigation_helper.tmpl' as archive_nav with context %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}

{% block content %}
<article class="listpage">
    <header>
        <h1>{{ title|e }}</h1>
    </header>
    {{ archive_nav.archive_navigation() }}
    {{ feeds_translations.translation_link() }}
    {% if items %}
    <ul class="postlist">
    {% for text, link, count in items %}
        <li><a href="{{ link }}">{{ text|e }}</a>
        {% if count %}
            ({{ count }})
        {% endif %}
    {% endfor %}
    </ul>
    {% else %}
    <p>{{ messages("Nothing found.") }}</p>
    {% endif %}
</article>
{% endblock %}
