{#  Note: at present, MathJax and KaTeX do not respect the USE_CDN configuration option #}
{% macro math_scripts() %}
    {% if use_katex %}
        <script src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js" integrity="sha384-Rma6DA2IPUwhNxmrB/7S3Tno0YY7sFu9WSYMCuulLhIqYSGZ2gKCJWIqhBWqMQfh" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"></script>
        {% if katex_auto_render %}
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    renderMathInElement(document.body,
                        {
                            {{ katex_auto_render }}
                        }
                    );
                });
            </script>
        {% else %}
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    renderMathInElement(document.body,
                        {
                            delimiters: [
                                {left: "$$", right: "$$", display: true},
                                {left: "\\(", right: "\\)", display: false},
                                {left: "\\begin{equation*}", right: "\\end{equation*}", display: true},
                                {left: "\\begin{align*}", right: "\\end{align*}", display: true},
                                {left: "\\begin{alignat}", right: "\\end{alignat}", display: true},
                                {left: "\\begin{gather}", right: "\\end{gather}", display: true},
                                {left: "\\begin{CD}", right: "\\end{CD}", display: true},
                                {left: "\\[", right: "\\]", display: true}
                            ]
                        }
                    );
                });
            </script>
        {% endif %}
    {% else %}
{#  Note: given the size of MathJax; nikola will retrieve MathJax from a CDN regardless of use_cdn configuration #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML" integrity="sha384-3lJUsx1TJHt7BA4udB5KPnDrlkO8T6J6v/op7ui0BbCjvZ9WqV4Xm6DTP6kQ/iBH" crossorigin="anonymous"></script>
        {% if mathjax_config %}
        {{ mathjax_config }}
        {% else %}
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$latex ','$'], ['\\(','\\)']]}});
        </script>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro math_styles() %}
    {% if use_katex %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css" integrity="sha384-zh0CIslj+VczCZtlzBcjt5ppRcsAmDnRem7ESsYwWwg3m/OaJ2l4x7YBZl9Kxxib" crossorigin="anonymous">
    {% endif %}
{% endmacro %}

{% macro math_scripts_ifpost(post) %}
    {% if post.has_math %}
        {{ math_scripts() }}
    {% endif %}
{% endmacro %}

{% macro math_scripts_ifposts(posts) %}
    {% if posts|selectattr("has_math")|list %}
        {{ math_scripts() }}
    {% endif %}
{% endmacro %}

{% macro math_styles_ifpost(post) %}
    {% if post.has_math %}
        {{ math_styles() }}
    {% endif %}
{% endmacro %}

{% macro math_styles_ifposts(posts) %}
    {% if posts|selectattr("has_math")|list %}
        {{ math_styles() }}
    {% endif %}
{% endmacro %}
