{#  -*- coding: utf-8 -*- #}

{% macro comment_form(url, title, identifier) %}
    <a class="moot" href="https://moot.it/i/{{ comment_system_id }}/{{ identifier }}">{{ comment_system_id }} forums</a>
{% endmacro %}

{% macro comment_link(link, identifier) %}
{% endmacro %}


{% macro comment_link_script() %}
<script src="https://cdn.moot.it/1/moot.min.js"></script>
{% endmacro %}