{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}

{% block html_post_header %}
    <header>
        {{ self.html_title() }}
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn">{{ post.author() }}</span></p>
            <p class="dateline"><a href="{{ post.permalink() }}" rel="bookmark"><time class="published dt-published" datetime="{{ post.date.isoformat() }}" itemprop="datePublished" title="{{ messages("Publication date") }}">{{ post.formatted_date(date_format) }}</time></a></p>
            {{ self.html_translations(post) }}
            {{ self.html_sourcelink() }}
            {% if post.description() %}
                <meta content="{{ post.description() }}" itemprop="description">
            {% endif %}
        </div>
    </header>
{% endblock %}

{% block html_title %}
    <h1 class="p-name entry-title" itemprop="headline name">{{ title|e }}</h1>
    {% if link %}
            <p><a href='{{ link }}'>{{ messages("Original site") }}</a></p>
    {% endif %}
{% endblock %}

{% macro html_translations(post) %}
    {% if translations|length > 1 %}
        <ul class="translations">
        {% for langname in translations.keys() %}
            {% if langname != lang and post.is_translation_available(langname) %}
                <li><a href="{{ post.permalink(langname) }}" rel="alternate" hreflang="{{ langname }}">{{ messages("Read in English", langname) }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% block html_sourcelink %}
    {% if show_sourcelink %}
        <p class="sourceline"><a href="{{ post.source_link() }}" id="sourcelink">{{ messages("Source") }}</a></p>
    {% endif %}
{% endblock %}
