{#  -*- coding: utf-8 -*- #}
{% extends 'index.tmpl' %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}

{% block extra_head %}
    {{ super() }}
    {{ feeds_translations.head(section) }}
{% endblock %}

{% block content %}
<div class="sectionindex">
    <header>
        <h2><a href="{{ _link('section_index', section) }}">{{ title|e }}</a></h2>
        {{ feeds_translations.feed_link(section) }}
    </header>
    {{ super() }}
</div>
{% endblock %}
