{#  -*- coding: utf-8 -*- #}
{% extends 'list_post.tmpl' %}
{% import 'translation_link_helper.tmpl' as translation_links with context %}

{% block extra_head %}
    {{ super() }}
    {{ translation_links.head(tag) }}
{% endblock %}


{% block content %}
<article class="tagpage">
    <header>
        <h1>{{ title|e }}</h1>
        {% if description %}
            <p>{{ description }}</p>
        {% endif %}
        {% if subcategories %}
        {{ messages('Subcategories:') }}
        <ul>
            {% for name, link in subcategories %}
            <li><a href="{{ link }}">{{ name|e }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="metadata">
            {{ translation_links.link(tag) }}
        </div>
        {% if has_other_languages and other_languages %}
            <div class="translationslist translations">
                <h3 class="translationslist-intro">{{ messages("Also available in:") }}</h3>
            {% for language, classification, name in other_languages %}
                <p><a href="{{ _link(kind, classification, language) }}" rel="alternate">{{ messages("LANGUAGE", language) }}
                {% if kind != 'archive' %}
                    ({{ name|e }})
                {% endif %}
            </a></p>
            {% endfor %}
            </div>
        {% endif %}
    </header>
    {% if posts %}
        <ul class="postlist">
        {% for post in posts %}
            <li><time class="listdate" datetime="{{ post.formatted_date('webiso') }}" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date(date_format)|e }}</time> <a href="{{ post.permalink() }}" class="listtitle">{{ post.title()|e }}<a></li>
        {% endfor %}
        </ul>
    {% endif %}
</article>
{% endblock %}
