{#  -*- coding: utf-8 -*- #}
{% extends 'list_post.tmpl' %}
{% block extra_head %}
    {% if translations|length > 1 %}
        {% for language in translations %}
            <link rel="alternate" type="application/rss+xml" type="application/rss+xml" title="RSS for {{ kind }} {{ tag }} ({{ language }})" href="{{ _link(kind + "_rss", tag, language) }}">
        {% endfor %}
    {% else %}
        <link rel="alternate" type="application/rss+xml" type="application/rss+xml" title="RSS for {{ kind }} {{ tag }}" href="{{ _link(kind + "_rss", tag) }}">
    {% endif %}
{% endblock %}

{% block content %}
        <!--Body content-->
        <div class="postbox">
        <h1>{{ title }}</h1>
        {% if translations|length > 1 %}
            {% for language in translations %}
                <a href="{{ _link(kind + "_rss", tag, language) }}">RSS ({{ language }})</a>&nbsp;
            {% endfor %}
        {% else %}
            <a href="{{ _link(kind + "_rss", tag) }}">RSS</a>
        {% endif %}
        <br>
        {% if posts %}
        <ul class="unstyled">
        {% for post in posts %}
            <li><a href="{{ post.permalink() }}">[{{ post.formatted_date(date_format) }}] {{ post.title() }}</a>
        {% endfor %}
        </ul>
        {% endif %}
        </div>
        <!--End of body content-->
{% endblock %}