{#  -*- coding: utf-8 -*- #}
{% extends 'index.tmpl' %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}

{% block content_header %}
    {{ parent.content_header() }}
    <header>
        <h1>{{ title|e }}</h1>
        {% if description %}
        <p>{{ description }}</p>
        {% endif %}
        {% if subcategories %}
        {{ messages('Subcategories:') }}
        <ul>
            {% for name, link in subcategories %}
            <li><a href="{{ link }}">{{ name|e }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </header>
{% endblock %}

{% block extra_head %}
    {{ super() }}
    {{ feeds_translations.head(tag) }}
{% endblock %}
