{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}

{% block content %}
<article class="tagindex">
    <header>
        <h1>{{ title }}</h1>
    </header>
    {% if cat_items %}
        {% if items %}
            <h2>{{ messages("Categories") }}</h2>
        {% endif %}
        <ul class="postlist">
        {% for text, link in cat_items %}
            {% if text %}
                <li><a class="reference" href="{{ link }}">{{ text }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        {% if items %}
            <h2>{{ messages("Tags") }}</h2>
        {% endif %}
    {% endif %}
    {% if items %}
        <ul class="postlist">
        {% for text, link in items %}
            <li><a class="reference listtitle" href="{{ link }}">{{ text }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
</article>
{% endblock %}
