<!DOCTYPE html>
{{set_locale(lang)}}
<html lang="{{lang}}">
<head>
    <meta charset="utf-8">
    <meta name="description" content="{{description}}" >
    <meta name="author" content="{{blog_author}}">
    <title>{{title}} | {{blog_title}}</title>
    <!-- Le styles -->
    {% if use_bundles %}
        {% if use_cdn %}
            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
            <link href="/assets/css/all.css" rel="stylesheet" type="text/css">
        {% else %}
            <link href="/assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
        {% endif %}
    {% else %}
        {% if use_cdn %}
            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
        {% else %}
            <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
        {% endif %}
        <link href="/assets/css/rst.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/colorbox.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/slides.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/theme.css" rel="stylesheet" type="text/css"/>
        {% if has_custom_css %}
            <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
        {% endif %}
    {% endif %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    {% if rss_link %}
        {{rss_link}}
    {% else %}
        {%  for language in translations %}
            <link rel="alternate" type="application/rss+xml" title="RSS ({{language}})" href="{{_link("rss", None, lang)}}">
        {% endfor %}
    {% endif %}
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% if add_this_buttons %}
    <script type="text/javascript">var addthis_config={"ui_language":"{{lang}}"};</script>
    {% endif %}
<div class="container-fluid" id="container">
    <div class="row-fluid" id="titlerow">
    <div class="span12" id="titlecolumn">
    <!-- Banner-like substance !-->
        <div class="titlebox">
        <h1 id="blog-title">
            <a href="{{abs_link('/')}}" title="{{blog_title}}">{{blog_title}}</a>
        </h1>
        {% block belowtitle%}
        {% if translations|length > 1 %}
        <small>
            {{ messages[lang]["Also available in"] }}:&nbsp; 
            {% for langname in translations.keys() %}
                {% if langname != lang %}
                    <a href="{{_link("index", None, langname)}}">{{messages[langname]["LANGUAGE"]}}</a>
                {% endif %}
            {% endfor %}
        </small>
        {% endif %}
        {% endblock %}
        <hr>
        </div>
    <!-- End of banner-like substance !-->
    <div class="row-fluid" id="contentrow">
        <div class="span10" id="contentcolumn">
            <!--Body content-->
            {% block content %}{% endblock %}
            <!--End of body content-->
            <hr>
            <small>{{content_footer}}</small>
        </div>
        <div class="span2" id="sidebar">
            <!--Sidebar content-->
            <ul class="unstyled">
            <li>{{license}}
            {% for url, text in sidebar_links[lang] %}
                <li><a href="{{url}}">{{text}}</a>
            {% endfor %}
            <li>{{search_form}}
            </ul>
            <!--End of sidebar content-->
        </div>
    {% if add_this_buttons %}
        <!-- social buttons -->
        <div id="addthisbox" class="addthis_toolbox addthis_peekaboo_style addthis_default_style addthis_label_style addthis_32x32_style">
        <a class="addthis_button_more">Share</a>
        <ul><li><a class="addthis_button_facebook"></a>
        <li><a class="addthis_button_google_plusone_share"></a>
        <li><a class="addthis_button_linkedin"></a>
        <li><a class="addthis_button_twitter"></a>
        </ul>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f7088a56bb93798"></script>
        <!-- End of social buttons -->
    {% endif %}
    </div>
    </div>
    </div>
</div>
    {{analytics}}
    <!-- late load javascript -->
    {% if use_bundles %}
        {% if use_cdn %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
            <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
            <script src="/assets/js/all.js" type="text/javascript"></script>
        {% else %}
            <script src="/assets/js/all-nocdn.js" type="text/javascript"></script>
        {% endif %}
    {% else %}
        {% if use_cdn %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
            <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
        {% else %}
            <script src="/assets/js/jquery-1.7.2.min.js" type="text/javascript"></script>
            <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
        {% endif %}
        <script src="/assets/js/jquery.colorbox-min.js" type="text/javascript"></script>
        <script src="/assets/js/slides.min.jquery.js" type="text/javascript"></script>
    {% endif %}
    <script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"80%",maxHeight:"80%",scalePhotos:true});</script>
</body>
