<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8">
    <meta name="title" content="{{title}} | {{blog_title}}" >
    <meta name="description" content="{{description}}" >
    <meta name="author" content="{{blog_author}}">
    <title>{{title}} | {{blog_title}}</title>
    <!-- Le styles -->
    {% if use_bundles %}
        <link href="/assets/css/all.css" rel="stylesheet" type="text/css">
        <script src="/assets/js/all.js" type="text/javascript"></script>
    {% else %}
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/rst.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/colorbox.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/theme.css" rel="stylesheet" type="text/css"/>
        {% if exists("files/assets/css/custom.css", not_empty=True) %}
            <link href="/assets/css/custom.css" rel="stylesheet">
        {% endif %}
        <script src="/assets/js/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="/assets/js/jquery.colorbox-min.js" type="text/javascript"></script>
    {% endif %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    {% if rss_link %}
        {{rss_link}}
    {% else %}
        {%  for language in translations %}
            <link rel="alternate" type="application/rss+xml" title="RSS ({{language}})" href="{{_link("rss", None, lang)}}">
        {% endfor %}
    {% endif %}
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% if add_this_buttons %}
    <script type="text/javascript">var addthis_config={"ui_language":"{{lang}}"};</script>
    {% endif %}
<div class="container-fluid" id="container">
    <div class="row-fluid" id="titlerow">
    <div class="span12" id="titlecolumn">
    <!-- Banner-like substance !-->
        <div class="titlebox">
        <h1 id="blog-title">
            <a href="{{abs_link('/')}}" title="{{blog_title}}">{{blog_title}}</a>
        </h1>
        {% block belowtitle%}
        {% if translations|length > 1 %}
        <small>
            {{ messages[lang]["Also available in"] }}:&nbsp; 
            {% for langname in translations.keys() %}
                {% if langname != lang %}
                    <a href="{{_link("index", None, langname)}}">{{messages[langname]["LANGUAGE"]}}</a>
                {% endif %}
            {% endfor %}
        </small>
        {% endif %}
        {% endblock %}
        <hr>
        </div>
    <!-- End of banner-like substance !-->
    <div class="row" id="contentrow">
        <div class="span10" id="contentcolumn">
            <!--Body content-->
            {% block content %}{% endblock %}
            <!--End of body content-->
            <hr>
            <small>{{content_footer}}</small>
        </div>
        <div class="span2" id="sidebar">
            <!--Sidebar content-->
            <ul class="unstyled">
            <li>{{license}}
            <!-- social buttons -->
`           {% if add_this_buttons %}
            <li>
                <div id="addthisbox" class="addthis_toolbox addthis_default_style">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <a class="addthis_button_compact"></a>
                <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f7088a56bb93798"></script>
            <!-- End of social buttons -->
            {% endif %}
            {% for url, text in sidebar_links[lang] %}
                <li><a href="{{url}}">{{text}}</a>
            {% endfor %}
            <li>{{search_form}}
            </ul>
            <!--End of sidebar content-->
        </div>
    {{analytics}}
    <script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"80%",maxHeight:"80%",scalePhotos:true});</script>
</body>
