{% extends "base.tmpl" %}
{% block content %}
    {% for post in posts %}
        <div class="postbox">
        <h1><a href="{{post.permalink()}}">{{post.title()}}</a>
        <small>&nbsp;&nbsp;
             {{messages("Posted")}}: {{post.formatted_date(date_format)}}
        </small></h1>
        <hr>
        {{post.text(teaser_only=index_teasers)}}
        <p>
        {% if disqus_forum and not post.meta('nocomments')%}
            <a href="{{post.permalink()}}#disqus_thread"  data-disqus-identifier="{{post.base_path}}">Comments</a>
        {% endif %}
        </div>
    {% endfor %}
    <div>
<ul class="pager">
  {%if prevlink %}
    <li class="previous">
        <a href="{{prevlink}}">&larr; {{messages("Newer posts")}}</a>
  {% endif %}
  {% if nextlink %}
    <li class="next">
        <a href="{{nextlink}}">{{messages("Older posts")}}  &rarr;</a>
  {% endif %}
</ul>

    </div>
    <hr>
    {% if disqus_forum %}
        <script type="text/javascript"> var disqus_shortname = '{{disqus_forum}}'; (function () { var s = document.createElement('script'); s.async = true; s.type = 'text/javascript'; s.src = 'http://' + disqus_shortname + '.disqus.com/count.js'; (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s); }()); </script>
    {% endif %}
{% endblock %}
