{% import 'post_helper.tmpl' as post_helper with context %}
{% import 'disqus_helper.tmpl' as disqus_helper with context %}
{% extends 'base.tmpl' %}
{% block extra_head %}
{% if post.meta('keywords') %}
    <meta name="keywords" content="{{post.meta('keywords')}}"/>
{% endif %}
{{ post_helper.twitter_card_information(post) }}
{% endblock %}
{% block content %}
    <div class="postbox">
    {{ post_helper.html_title() }}
    <hr>
    <small>
        {{ messages("Posted") }}: <time class="published" datetime="{{ post.date.isoformat() }}">{{ post.formatted_date(date_format) }}</time>
        {{ post_helper.html_translations(post) }}
        {{ post_helper.html_tags(post) }}
    </small>
    <hr>
    {{ post.text() }}
    {{ post_helper.html_pager(post) }}
    {% if not post.meta('nocomments') %}
        {{ disqus_helper.html_disqus(post.permalink(absolute=True), post.title(), post.base_path) }}
    {% endif %}
    {{ post_helper.mathjax_script(post) }}
    </div>
{% endblock %}

{% block sourcelink %}
{% if not post.meta('password') %}
    <li>
    <a href="{{post.source_link()}}" id="sourcelink">{{ messages("Source") }}</a>
    </li>
{% endif %}
{% endblock %}
