## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace name="ui" file="ui_helper.tmpl"/>
<%block name="content">
${ui.breadcrumbs(crumbs)}
%if folders or files:
<ul>
% for name in folders:
    <li><a href="${name|h}">&#x1f4c2;&nbsp;${name|h}</a>
% endfor
% for name in files:
    <li><a href="${name|h}.html">&#x1f4c4;&nbsp;${name|h}</a>
% endfor
</ul>
%endif
% if code:
<h1>${title}
    % if source_link:
        <small><a href="${source_link}">(${messages("Source")})</a></small>
    % endif
    </h1>
    ${code}
% endif
</%block>

<%block name="sourcelink">
% if source_link and show_sourcelink:
    ${ui.show_sourcelink(source_link)}
% endif
</%block>
