## -*- coding: utf-8 -*-
<html>
<head>
<meta http-equiv="Refresh" content="0;url=${post.meta('link')}">
</head>
<body>
Redirecting you to <a href="${post.meta('link')}">the original location.</a>
</body>
</html>
