## -*- coding: utf-8 -*-
<%namespace file="base_helper.tmpl" import="*"/>
<!DOCTYPE html>
<html lang="${lang}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    ${html_head()}
    ${html_reveal_head()}
    <%block name="extra_head">
    </%block>
    ${extra_head_data}
</head>
<body>
<!-- Menubar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

            <a class="brand" href="${abs_link('/')}">
            ${blog_title}
            </a>
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
                <ul class="nav">
                    ${html_sidebar_links()}
                </ul>
                %if search_form:
                    ${search_form}
                %endif
                <ul class="nav pull-right">
                <%block name="belowtitle">
                %if len(translations) > 1:
                    <li>${html_translations()}</li>
                %endif
                </%block>
                <%block name="sourcelink"> </%block>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Menubar -->

<!--Body content-->
<div class="reveal"><div class="slides">
    <section>
        <%block name="content"></%block>
    </section>
</div></div>
<!--End of body content-->

${html_reveal_body()}

<%block name="custom_reveal">
</%block>

<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="footerbox">
            ${content_footer}
        </div>
    </div>
</div>

${html_social()}
${late_load_js()}
${analytics}
    <script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"80%",maxHeight:"80%",scalePhotos:true});</script>

</body>
