## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    % for post in posts:
        <section>
        <div class="postbox">
        <h1><a href="${post.permalink()}">${post.title()}</a>
        <small>&nbsp;&nbsp;
             ${messages[lang]["Posted"]}: <time class="published" datetime="${post.date.isoformat()}">${post.formatted_date(date_format)}</time>
        </small></h1>
        <hr>
        ${post.text(teaser_only=index_teasers)}
        ${disqus.html_disqus_link(post.permalink()+"#/0/1", post.base_path)}
        ${helper.html_pager()}
        </div>
        </section>
    % endfor
    ${disqus.html_disqus_script()}
    ${helper.mathjax_script(posts)}
</%block>

<%block name="custom_reveal">
    <script>
    Reveal.initialize({
    controls: true,
    progress: true,
    history: true
    })
    </script>
</%block>
