## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="extra_head">
${helper.twitter_card_information(post)}
% if post.meta('keywords'):
    <meta name="keywords" content="${post.meta('keywords')|h}"/>
% endif
</%block>
<%block name="content">
    <section>
    <div class="postbox">
    ${helper.html_title()}
    <hr>
    <medium>
        ${messages[lang]["Posted"]}: <time class="published" datetime="${post.date.isoformat()}">${post.formatted_date(date_format)}</time>
        ${helper.html_translations(post)}
        ${helper.html_tags(post)}
    </medium>
    <hr>
    ${post.text()}
    ${helper.html_pager(post)}
    ${helper.mathjax_script(post)}
    </div>
    </section>
    <section>
    ${disqus.html_disqus(post.permalink(absolute=True), post.title(lang), post.base_path)}
    </section>
</%block>

<%block name="sourcelink">
    % if not post.meta('password'):
    <li>
    <a href="${post.source_link()}" id="sourcelink">${messages[lang]["Source"]}</a>
    </li>
    % endif
</%block>

<%block name="custom_reveal">
    <script>
    Reveal.initialize({
    controls: true,
    progress: true,
    history: true
    })
    </script>
</%block>
