## -*- coding: utf-8 -*-
<%def name="html_head()">
    <meta charset="utf-8">
    <meta name="description" content="${description}" >
    <meta name="author" content="${blog_author}">
    <title>${title} | ${blog_title}</title>
    ${mathjax_config}
    %if use_bundles:
        %if use_cdn:
            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
            <link href="/assets/css/all.css" rel="stylesheet" type="text/css">
        %else:
            <link href="/assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
        %endif
    %else:
        %if use_cdn:
            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
        %else:
            <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
        %endif
        <link href="/assets/css/rst.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/colorbox.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/theme.css" rel="stylesheet" type="text/css"/>
        %if has_custom_css:
            <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
        %endif
    %endif
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    %if rss_link:
        ${rss_link}
    %else:
        %for language in translations:
            <link rel="alternate" type="application/rss+xml" title="RSS (${language})" href="${_link('rss', None, language)}">
        %endfor
    %endif
    %if favicons:
        %for name, file, size in favicons:
            <link rel="${name}" href="${file}" sizes="${size}"/>
        %endfor
    %endif
</%def>


<%def name="html_social()">
%if add_this_buttons:
    <!-- Social buttons -->
    <div id="addthisbox" class="addthis_toolbox addthis_peekaboo_style addthis_default_style addthis_label_style addthis_32x32_style">
    <a class="addthis_button_more">Share</a>
    <ul><li><a class="addthis_button_facebook"></a>
    <li><a class="addthis_button_google_plusone_share"></a>
    <li><a class="addthis_button_linkedin"></a>
    <li><a class="addthis_button_twitter"></a>
    </ul>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f7088a56bb93798"></script>
    <!-- End of social buttons -->
%endif
</%def>


<%def name="html_sidebar_links()">
    %for url, text in sidebar_links[lang]:
        % if rel_link(permalink, url) == "#":
            <li class="active"><a href="${url}">${text}</a>
        %else:
            <li><a href="${url}">${text}</a>
        %endif
    %endfor
</%def>


<%def name="html_translations()">
    %for langname in translations.keys():
        %if langname != lang:
            <a href="${_link("index", None, langname)}">${messages("LANGUAGE", langname)}</a>
        %endif
    %endfor
</%def>
