## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    <div class="postbox">
    ${helper.html_title()}
    <hr>
    <small>
        ${messages("Posted")}: ${post.formatted_date(date_format)}
        ${helper.html_translations(post)}
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="${post.meta[lang]['slug']+'.txt'}" id="sourcelink">${messages("Source")}</a>
        ${helper.html_tags(post)}
    </small>
    <hr>
    ${post.text()}
    ${helper.html_pager(post)}
    % if not post.meta[lang]['nocomments']:
        ${disqus.html_disqus(post.permalink(absolute=True), post.title(), post.base_path)}
    % endif
    </div>
</%block>
