{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">{{ messages("Skip to main content") }}</a>

<!-- Menubar -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top mb-4">
    <div class="container"><!-- This keeps the margins nice -->
        <a class="navbar-brand" href="{{ abs_link(_link("root", None, lang)) }}">
        {% if logo_url %}
            <img src="{{ logo_url }}" alt="{{ blog_title|e }}" id="logo" class="d-inline-block align-top">
        {% endif %}

        {% if show_blog_title %}
            <span id="blog-title">{{ blog_title|e }}</span>
        {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-navbar">
            <ul class="navbar-nav mr-auto">
                {{ base.html_navigation_links() }}
                {{ template_hooks['menu']() }}
            </ul>
            {% if search_form %}
                {{ search_form }}
            {% endif %}

            <ul class="navbar-nav navbar-right">
                {% block belowtitle %}
                {% if translations|length > 1 %}
                    <li>{{ base.html_translations() }}</li>
                {% endif %}
                {% endblock %}
                {% if show_sourcelink %}
                    {% block sourcelink %}{% endblock %}
                {% endif %}
                {{ template_hooks['menu_alt']() }}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<!-- End of Menubar -->

<div class="container" id="content" role="main">
    <div class="body-content">
        <!--Body content-->
        {{ template_hooks['page_header']() }}
        {% block content %}{% endblock %}
        <!--End of body content-->

        <footer id="footer">
            {{ content_footer }}
            {{ template_hooks['page_footer']() }}
        </footer>
    </div>
</div>

{{ base.late_load_js() }}
    <!-- fancy dates -->
    <script>
    moment.locale("{{ momentjs_locales[lang] }}");
    fancydates({{ date_fanciness }}, {{ js_date_format }});
    </script>
    <!-- end fancy dates -->
    {% block extra_js %}{% endblock %}
    <script>
    baguetteBox.run('a.reference:not(.islink)', {
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
    }});
    baguetteBox.run('img:not(.islink)', {
        captions: function(element) {
            return element.alt;
    }});
    </script>
{{ body_end }}
{{ template_hooks['body_end']() }}
</body>
</html>
