.code { background: #f0f0f0; }
.code .c { color: #60a0b0; font-style: italic } /* Comment */
.code .err { border: 1px solid #FF0000 } /* Error */
.code .k { color: #007020; font-weight: bold } /* Keyword */
.code .o { color: #666666 } /* Operator */
.code .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.code .cp { color: #007020 } /* Comment.Preproc */
.code .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.code .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.code .gd { color: #A00000 } /* Generic.Deleted */
.code .ge { font-style: italic } /* Generic.Emph */
.code .gr { color: #FF0000 } /* Generic.Error */
.code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.code .gi { color: #00A000 } /* Generic.Inserted */
.code .go { color: #808080 } /* Generic.Output */
.code .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.code .gs { font-weight: bold } /* Generic.Strong */
.code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.code .gt { color: #0040D0 } /* Generic.Traceback */
.code .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.code .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.code .kp { color: #007020 } /* Keyword.Pseudo */
.code .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.code .kt { color: #007020; font-weight: bold } /* Keyword.Type */
.code .m { color: #40a070 } /* Literal.Number */
.code .s { color: #4070a0 } /* Literal.String */
.code .na { color: #4070a0 } /* Name.Attribute */
.code .nb { color: #007020 } /* Name.Builtin */
.code .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.code .no { color: #60add5 } /* Name.Constant */
.code .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.code .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.code .ne { color: #007020 } /* Name.Exception */
.code .nf { color: #06287e } /* Name.Function */
.code .nl { color: #002070; font-weight: bold } /* Name.Label */
.code .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.code .nt { color: #062873; font-weight: bold } /* Name.Tag */
.code .nv { color: #bb60d5 } /* Name.Variable */
.code .ow { color: #007020; font-weight: bold } /* Operator.Word */
.code .mf { color: #40a070 } /* Literal.Number.Float */
.code .mh { color: #40a070 } /* Literal.Number.Hex */
.code .mi { color: #40a070 } /* Literal.Number.Integer */
.code .mo { color: #40a070 } /* Literal.Number.Oct */
.code .sb { color: #4070a0 } /* Literal.String.Backtick */
.code .sc { color: #4070a0 } /* Literal.String.Char */
.code .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.code .s2 { color: #4070a0 } /* Literal.String.Double */
.code .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.code .sh { color: #4070a0 } /* Literal.String.Heredoc */
.code .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.code .sx { color: #c65d09 } /* Literal.String.Other */
.code .sr { color: #235388 } /* Literal.String.Regex */
.code .s1 { color: #4070a0 } /* Literal.String.Single */
.code .ss { color: #517918 } /* Literal.String.Symbol */
.code .bp { color: #007020 } /* Name.Builtin.Pseudo */
.code .vc { color: #bb60d5 } /* Name.Variable.Class */
.code .vg { color: #bb60d5 } /* Name.Variable.Global */
.code .vi { color: #bb60d5 } /* Name.Variable.Instance */
.code .il { color: #40a070 } /* Literal.Number.Integer.Long */