.reveal {
font-size: 20px;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
margin: 0 0 0 0;
line-height: 1.2em;
}
.reveal h1 { 
font-size: 2.55em;
}
.reveal pre {
font-size: 80%;
width: auto;
padding: 2px;
padding-bottom: 6px;
}
.reveal .slides {
text-align: left;
}
.reveal .controls {
bottom: 45px;
}
.reveal iframe{
max-height: none;
}
.reveal .slides section:not(.stack) {
padding-bottom: 10%;
}
.reveal section img {
border: 0;
}

/* To get sidebar working properly. */

div.sidebar {
margin: 0 0 0.5em 1em !important;
border: medium outset !important;
padding: 0.5em !important;
width: 50%;
}