/*
:Author: David Goodger (goodger@python.org)
:Id: $Id: html4css1.css 7514 2012-09-14 14:27:12Z milde $
:Copyright: This stylesheet has been placed in the public domain.

Default cascading style sheet for the HTML output of Docutils.

See http://docutils.sf.net/docs/howto/html-stylesheets.html for how to
customize this style sheet.
*/

/* used to remove borders from tables and images */
.borderless, table.borderless td, table.borderless th {
  border: 0 }

table.borderless td, table.borderless th {
  /* Override padding for "table.docutils td" with "! important".
     The right padding separates the table cells. */
  padding: 0 0.5em 0 0 ! important }

.first {
  /* Override more specific margin styles with "! important". */
  margin-top: 0 ! important }

.last, .with-subtitle {
  margin-bottom: 0 ! important }

.hidden {
  display: none }

a.toc-backref {
  text-decoration: none ;
  color: black }

blockquote.epigraph {
  margin: 2em 5em ; }

dl.docutils dd {
  margin-bottom: 0.5em }

object[type="image/svg+xml"], object[type="application/x-shockwave-flash"] {
  overflow: hidden;
}

/* Uncomment (and remove this text!) to get bold-faced definition list terms
dl.docutils dt {
  font-weight: bold }
*/

div.abstract {
  margin: 2em 5em }

div.abstract p.topic-title {
  font-weight: bold ;
  text-align: center }

div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning {
  margin: 2em ;
  border: medium outset ;
  padding: 1em }

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title {
  font-weight: bold ;
  font-family: sans-serif }

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title, .code .error {
  color: red ;
  font-weight: bold ;
  font-family: sans-serif }

/* Uncomment (and remove this text!) to get reduced vertical space in
   compound paragraphs.
div.compound .compound-first, div.compound .compound-middle {
  margin-bottom: 0.5em }

div.compound .compound-last, div.compound .compound-middle {
  margin-top: 0.5em }
*/

div.dedication {
  margin: 2em 5em ;
  text-align: center ;
  font-style: italic }

div.dedication p.topic-title {
  font-weight: bold ;
  font-style: normal }

div.figure {
  margin-left: 2em ;
  margin-right: 2em }

div.footer, div.header {
  clear: both;
  font-size: smaller }

div.line-block {
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em }

div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-left: 1.5em }

div.sidebar {
  margin: 0 0 0.5em 1em ;
  border: medium outset ;
  padding: 1em ;
  background-color: #ffffee ;
  width: 40% ;
  float: right ;
  clear: right }

div.sidebar p.rubric {
  font-family: sans-serif ;
  font-size: medium }

div.system-messages {
  margin: 5em }

div.system-messages h1 {
  color: red }

div.system-message {
  border: medium outset ;
  padding: 1em }

div.system-message p.system-message-title {
  color: red ;
  font-weight: bold }

div.topic {
  margin: 2em }

h1.section-subtitle, h2.section-subtitle, h3.section-subtitle,
h4.section-subtitle, h5.section-subtitle, h6.section-subtitle {
  margin-top: 0.4em }

h1.title {
  text-align: center }

h2.subtitle {
  text-align: center }

hr.docutils {
  width: 75% }

img.align-left, .figure.align-left, object.align-left {
  clear: left ;
  float: left ;
  margin-right: 1em }

img.align-right, .figure.align-right, object.align-right {
  clear: right ;
  float: right ;
  margin-left: 1em }

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left }

.align-center {
  clear: both ;
  text-align: center }

.align-right {
  text-align: right }

/* reset inner alignment in figures */
div.align-right {
  text-align: inherit }

/* div.align-center * { */
/*   text-align: left } */

ol.simple, ul.simple {
  margin-bottom: 1em }

ol.arabic {
  list-style: decimal }

ol.loweralpha {
  list-style: lower-alpha }

ol.upperalpha {
  list-style: upper-alpha }

ol.lowerroman {
  list-style: lower-roman }

ol.upperroman {
  list-style: upper-roman }

p.attribution {
  text-align: right ;
  margin-left: 50% }

p.caption {
  font-style: italic }

p.credits {
  font-style: italic ;
  font-size: smaller }

p.label {
  white-space: nowrap }

p.rubric {
  font-weight: bold ;
  font-size: larger ;
  color: maroon ;
  text-align: center }

p.sidebar-title {
  font-family: sans-serif ;
  font-weight: bold ;
  font-size: larger }

p.sidebar-subtitle {
  font-family: sans-serif ;
  font-weight: bold }

p.topic-title {
  font-weight: bold }

pre.address {
  margin-bottom: 0 ;
  margin-top: 0 ;
  font: inherit }

pre.literal-block, pre.doctest-block, pre.math, pre.code {
  margin-left: 2em ;
  margin-right: 2em }

pre.code .ln { color: grey; } /* line numbers */
pre.code, code { background-color: #eeeeee }
pre.code .comment, code .comment { color: #5C6576 }
pre.code .keyword, code .keyword { color: #3B0D06; font-weight: bold }
pre.code .literal.string, code .literal.string { color: #0C5404 }
pre.code .name.builtin, code .name.builtin { color: #352B84 }
pre.code .deleted, code .deleted { background-color: #DEB0A1}
pre.code .inserted, code .inserted { background-color: #A3D289}

span.classifier {
  font-family: sans-serif ;
  font-style: oblique }

span.classifier-delimiter {
  font-family: sans-serif ;
  font-weight: bold }

span.interpreted {
  font-family: sans-serif }

span.option {
  white-space: nowrap }

span.pre {
  white-space: pre }

span.problematic {
  color: red }

span.section-subtitle {
  /* font-size relative to parent (h1..h6 element) */
  font-size: 80% }

table.citation {
  border-left: solid 1px gray;
  margin-left: 1px }

table.docinfo {
  margin: 2em 4em }

table.docutils {
  margin-top: 0.5em ;
  margin-bottom: 0.5em }

table.footnote {
  border-left: solid 1px black;
  margin-left: 1px }

table.docutils td, table.docutils th,
table.docinfo td, table.docinfo th {
  padding-left: 0.5em ;
  padding-right: 0.5em ;
  vertical-align: top }

table.docutils th.field-name, table.docinfo th.docinfo-name {
  font-weight: bold ;
  text-align: left ;
  white-space: nowrap ;
  padding-left: 0 }

h1 tt.docutils, h2 tt.docutils, h3 tt.docutils,
h4 tt.docutils, h5 tt.docutils, h6 tt.docutils {
  font-size: 100% }

ul.auto-toc {
  list-style-type: none }

pre.code , div.code pre .hll { background-color: #ffffcc }
pre.code , div.code pre  { background: #f8f8f8; }
pre.code .c, div.code pre .c { color: #408080; font-style: italic } /* Comment */
pre.code .err, div.code pre .err { border: 1px solid #FF0000 } /* Error */
pre.code .k, div.code pre .k { color: #008000; font-weight: bold } /* Keyword */
pre.code .o, div.code pre .o { color: #666666 } /* Operator */
pre.code .cm, div.code pre .cm { color: #408080; font-style: italic } /* Comment.Multiline */
pre.code .cp, div.code pre .cp { color: #BC7A00 } /* Comment.Preproc */
pre.code .c1, div.code pre .c1 { color: #408080; font-style: italic } /* Comment.Single */
pre.code .cs, div.code pre .cs { color: #408080; font-style: italic } /* Comment.Special */
pre.code .gd, div.code pre .gd { color: #A00000 } /* Generic.Deleted */
pre.code .ge, div.code pre .ge { font-style: italic } /* Generic.Emph */
pre.code .gr, div.code pre .gr { color: #FF0000 } /* Generic.Error */
pre.code .gh, div.code pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre.code .gi, div.code pre .gi { color: #00A000 } /* Generic.Inserted */
pre.code .go, div.code pre .go { color: #888888 } /* Generic.Output */
pre.code .gp, div.code pre .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
pre.code .gs, div.code pre .gs { font-weight: bold } /* Generic.Strong */
pre.code .gu, div.code pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre.code .gt, div.code pre .gt { color: #0044DD } /* Generic.Traceback */
pre.code .kc, div.code pre .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
pre.code .kd, div.code pre .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
pre.code .kn, div.code pre .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
pre.code .kp, div.code pre .kp { color: #008000 } /* Keyword.Pseudo */
pre.code .kr, div.code pre .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
pre.code .kt, div.code pre .kt { color: #B00040 } /* Keyword.Type */
pre.code .m, div.code pre .m { color: #666666 } /* Literal.Number */
pre.code .s, div.code pre .s { color: #BA2121 } /* Literal.String */
pre.code .na, div.code pre .na { color: #7D9029 } /* Name.Attribute */
pre.code .nb, div.code pre .nb { color: #008000 } /* Name.Builtin */
pre.code .nc, div.code pre .nc { color: #0000FF; font-weight: bold } /* Name.Class */
pre.code .no, div.code pre .no { color: #880000 } /* Name.Constant */
pre.code .nd, div.code pre .nd { color: #AA22FF } /* Name.Decorator */
pre.code .ni, div.code pre .ni { color: #999999; font-weight: bold } /* Name.Entity */
pre.code .ne, div.code pre .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
pre.code .nf, div.code pre .nf { color: #0000FF } /* Name.Function */
pre.code .nl, div.code pre .nl { color: #A0A000 } /* Name.Label */
pre.code .nn, div.code pre .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
pre.code .nt, div.code pre .nt { color: #008000; font-weight: bold } /* Name.Tag */
pre.code .nv, div.code pre .nv { color: #19177C } /* Name.Variable */
pre.code .ow, div.code pre .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
pre.code .w, div.code pre .w { color: #bbbbbb } /* Text.Whitespace */
pre.code .mf, div.code pre .mf { color: #666666 } /* Literal.Number.Float */
pre.code .mh, div.code pre .mh { color: #666666 } /* Literal.Number.Hex */
pre.code .mi, div.code pre .mi { color: #666666 } /* Literal.Number.Integer */
pre.code .mo, div.code pre .mo { color: #666666 } /* Literal.Number.Oct */
pre.code .sb, div.code pre .sb { color: #BA2121 } /* Literal.String.Backtick */
pre.code .sc, div.code pre .sc { color: #BA2121 } /* Literal.String.Char */
pre.code .sd, div.code pre .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
pre.code .s2, div.code pre .s2 { color: #BA2121 } /* Literal.String.Double */
pre.code .se, div.code pre .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
pre.code .sh, div.code pre .sh { color: #BA2121 } /* Literal.String.Heredoc */
pre.code .si, div.code pre .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
pre.code .sx, div.code pre .sx { color: #008000 } /* Literal.String.Other */
pre.code .sr, div.code pre .sr { color: #BB6688 } /* Literal.String.Regex */
pre.code .s1, div.code pre .s1 { color: #BA2121 } /* Literal.String.Single */
pre.code .ss, div.code pre .ss { color: #19177C } /* Literal.String.Symbol */
pre.code .bp, div.code pre .bp { color: #008000 } /* Name.Builtin.Pseudo */
pre.code .vc, div.code pre .vc { color: #19177C } /* Name.Variable.Class */
pre.code .vg, div.code pre .vg { color: #19177C } /* Name.Variable.Global */
pre.code .vi, div.code pre .vi { color: #19177C } /* Name.Variable.Instance */
pre.code .il, div.code pre .il { color: #666666 } /* Literal.Number.Integer.Long */
table.codetable { width: 100%;} td.linenos {text-align: right; width: 4em;}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(images/overlay.png) repeat 0 0;}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

body {
    margin-top: 60px;
}

#container {
    width: 960px;
    margin: 0 auto;
}

#contentcolumn {
    max-width: 760px;
}
#q {
    width: 150px;
}

img {
    max-width: 90%;
}

.postbox {
    border-bottom: 2px solid darkgrey;
    margin-bottom: 12px;
}

.titlebox {
    text-align: right;
}

#addthisbox {margin-bottom: 12px;}

td.label {
    /* Issue #290 */
    background-color: inherit;
}

.footnote-reference {
    /* Issue 290 */
    vertical-align: super;
    font-size: xx-small;
}


.caption {
    /* Issue 292 */
    text-align: center;
    padding-top: 1em;
}

div.figure > img,
div.figure > a > img {
    /* Issue 292 */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.sidebar, div.admonition, div.attention, div.caution, div.danger, div.error, div.hint, div.important, div.note, div.tip, div.warning {
    /* Issue 277 */
    border: 1px solid #aaa;
    border-radius: 5px;
}

blockquote p, blockquote {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

ul.bricks > li {
    display: inline;
    background-color: lightblue;
    padding: 8px;
    border-radius: 5px;
    line-height: 3;
    white-space:nowrap;
    margin: 3px;
}

.at300b {
    box-sizing: content-box;
}

pre, pre code {
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
}

article.post-micro {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

/* fix anchors for headers */
h1, h2, h3 {
    margin-top: -40px;
    padding-top: 60px;
}

h4, h5, h6 {
    margin-top: -50px;
    padding-top: 60px;
}
