body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
#container {
    width: 960px;
    margin: 50 auto;
}

#contentcolumn {
    max-width: 760px;
}
#q {
    width: 150px;
}

img {
    max-width: 90%;
}

.postbox {
    border-bottom: 2px solid darkgrey; 
    margin-bottom: 12px;
}

.footerbox {padding: 15px; text-align: center; margin-bottom: 15px;}

