## -*- coding: utf-8 -*-
<%namespace file="base_helper.tmpl" import="*"/>
<!DOCTYPE html>
<html lang="${lang}">
<head>
    ${html_head()}
    <%block name="extra_head">
    </%block>
</head>
<body>
    %if add_this_buttons:
    <script type="text/javascript">var addthis_config={"ui_language":"${lang}"};</script>
    % endif
<div class="container-fluid" id="container">
    <div class="row-fluid" id="titlerow">
    <div class="span12" id="titlecolumn">
    <!-- Banner-like substance !-->
        <div class="titlebox">
        <h1 id="blog-title">
            <a href="${abs_link('/')}" title="${blog_title}">${blog_title}</a>
        </h1>
        <%block name="belowtitle">
        %if len(translations) > 1:
        <small>
            ${(messages[lang][u"Also available in"])}:&nbsp;
            ${html_translations()}
        </small>
        %endif
        </%block>
        <hr>
        </div>
    <!-- End of banner-like substance !-->
    <div class="row-fluid" id="contentrow">
        <div class="span10" id="contentcolumn">
            <!--Body content-->
            <%block name="content"></%block>
            <!--End of body content-->
            <hr>
            <small>${content_footer}</small>
        </div>
        <div class="span2" id="sidebar">
            <!--Sidebar content-->
            <ul class="unstyled">
            <li>${license}
            ${html_social()}
            ${html_sidebar_links()}
            <li>${search_form}
            </ul>
            <!--End of sidebar content-->
        </div>
    </div>
    </div>
    </div>
</div>
    ${analytics}
    ${late_load_js()}
    <script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"80%",maxHeight:"80%",scalePhotos:true});</script>
</body>
