## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>

<%block name="extra_head">
    <link rel="stylesheet" href="/assets/css/colorbox.css" type="text/css"/>
    <script src="/assets/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.colorbox-min.js" type="text/javascript"></script>
</%block>
<%block name="sourcelink"></%block>

<%block name="content">
    %if text:
    <p>
        ${text}
    </p>
    %endif
    <ul class="thumbnails">
        %for image in images:
            <li><a href="${image[0]}" class="thumbnail" ${image[2]}>
                <img src="${image[1]}" /></a></li>
        %endfor
    </ul>
    <script type="text/javascript">
        jQuery('a.thumbnail').colorbox({
            rel:'gal',
            maxWidth:'80%',
            maxHeight:'80%',
            scalePhotos: true
        });
    </script>
</%block>
