## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%block name="sourcelink"></%block>

<%block name="content">
    <ul class="breadcrumb">
        % for link, crumb in crumbs:
            <li><a href="${link}">/ ${crumb}</a>
        % endfor
    </ul>
    %if text:
    <p>
        ${text}
    </p>
    %endif
    <ul>
    % for folder in folders:
        <li><a href="${folder}"><i class="icon-folder-open"></i>&nbsp;${folder}</a>
    % endfor
    </ul>

    <div id="gallery_container"}'>
        %for image in images:
            <div ><a href="${image[0]}" class="image-reference" ${image[2]}>
                <img src="${image[1]}" style="margin-bottom:5px;" /></a></div>
        %endfor
    </div>

%if enable_comments:
    ${disqus.html_disqus(None, permalink, title)}
%endif
</%block>


<%block name="extra_head">
</%block>


<%block name="extra_js">
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/masonry.pkgd.min.js"></script>
<script>
imagesLoaded( $("#gallery_container"), function() {
    $("#gallery_container").masonry({itemSelector: '.image-reference', columnWidth: 13});
});

</script>
</%block>
