## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    % for post in posts:
        <div class="postbox">
        <h1><a href="${post.permalink(lang)}">${post.title(lang)}</a>
        <small>&nbsp;&nbsp;
             ${messages[lang]["Posted"]}: <time class="published" datetime="${post.date.isoformat()}">${post.date.strftime(date_format)}</time>
        </small></h1>
        <hr>
        ${post.text(lang, index_teasers)}
        ${disqus.html_disqus_link(post.permalink()+"#disqus_thread", post.base_path)}
        </div>
    % endfor
    ${helper.html_pager()}
    ${disqus.html_disqus_script()}
    ${helper.mathjax_script(post)}
</%block>
