## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="content">
<ul class="breadcrumb">
    % for link, crumb in crumbs:
        <li><a href="${link}">/${crumb}</a>
    % endfor
</ul>
<ul class="unstyled">
% for name in folders:
    <li><a href="${name}"><i class="icon-folder-open"></i> ${name}</a>
% endfor
% for name in files:
    <li><a href="${name}.html"><i class="icon-file"></i> ${name}</a>
% endfor
</ul>
% if code:
    ${code}
% endif
</%block>
