## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="disqus" file="disqus_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="extra_head">
${helper.twitter_card_information(post)}
</%block>
<%block name="content">
    <div class="postbox">
    ${helper.html_title()}
    <hr>
    <small>
        ${messages("Posted")}: <time class="published" datetime="${post.date.isoformat()}">${post.formatted_date(date_format)}</time>
        ${helper.html_translations(post)}
        ${helper.html_tags(post)}
    </small>
    <hr>
    ${post.text()}
    ${helper.html_pager(post)}
    % if not post.meta('nocomments'):
        ${disqus.html_disqus(post.permalink(absolute=True), post.title(), post.base_path)}
    % endif
    ${helper.mathjax_script(post)}
    </div>
</%block>

<%block name="sourcelink">
    <li>
    <a href="${post.meta('slug')+post.source_ext()}" id="sourcelink">${messages("Source")}</a>
    </li>
</%block>
