<%def name="html_title()">
    <h1>${title}</h1>
    % if link:
            <p><a href='${link}'>${messages[lang]["Original site"]}</a></p>
    % endif
</%def>


<%def name="html_translations(post)">
    %if len(translations) > 1:
        %for langname in translations.keys():
            %if langname != lang:
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="${post.permalink(langname)}">${messages[langname]["Read in English"]}</a>
            %endif
        %endfor
    %endif
</%def>


<%def name="html_tags(post)">
    %if post.tags:
        &nbsp;&nbsp;|&nbsp;&nbsp;${messages[lang]["More posts about"]}
        %for tag in post.tags:
            <a class="tag" href="${_link('tag', tag, lang)}"><span class="badge badge-info">${tag}</span></a>
        %endfor
    %endif
</%def>


<%def name="html_disqus(post)">
    %if disqus_forum:
        <div id="disqus_thread"></div>
        <script type="text/javascript">var disqus_shortname="${disqus_forum}";var disqus_url="${post.permalink(absolute=True)}";(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src="http://"+disqus_shortname+".disqus.com/embed.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)})();        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    %endif
</%def>


<%def name="html_pager(post)">
    <ul class="pager">
    %if post.prev_post:
        <li class="previous">
            <a href="${post.prev_post.permalink(lang)}">&larr; ${messages[lang]["Previous post"]}</a>
        </li>
    %endif
    %if post.next_post:
        <li class="next">
            <a href="${post.next_post.permalink(lang)}">${messages[lang]["Next post"]} &rarr;</a>
        </li>
    %endif
    </ul>
</%def>
